nav {
    background-color: #0d47a1;
}

nav .brand-logo {
    font-size: 24px;
}

nav form {
    display: flex;
    align-items: center;
}

nav form .file-field {
    min-width: 300px;
}

nav .file-field .btn {
    background-color: #EFDC05;
    color: #011638;
    height: 33px;
    line-height: 33px;
    margin-top: 15px;
    padding: 0 1.2rem;
}

nav .file-field .file-path-wrapper {
    padding-left: 6px;
}

nav .file-field .file-path-wrapper input {
    height: 33px;
    margin-bottom: 0;
    padding-left: 6px;
    border-bottom: 1px solid #EFDC05;
    box-sizing: border-box;
}
nav .file-field .file-path-wrapper input:valid {
    border-bottom: 1px solid #EFDC05;
}
nav form button.btn {
    margin-left: 18px;
    background-color: #E53A40;
    color: #fff;
    font-weight: bold;
}
nav form button.btn:hover {
    background-color: #E71D36;
}


main {
    padding-top: 30px;
}
.nothing-to-show-col {
    text-align: center;
    color: #E53A40;
    font-weight: bold;
    text-transform: uppercase;
}
.table-col a.btn {
    margin-bottom: 15px;
    margin-right: 6%;
    background-color: #1a237e;
}

table {
    font-size: 12px;
}
table a.btn {
    font-size: 11px;
    padding: 0 6px;
}
table a.btn.not-uploading {
    background-color: #fff;
    color: #000;
}
table a.btn.uploading {
    background-color: #ff1744;
    color: #fff;
}
table a.btn.uploaded {
    background-color: #2e7d32;
    color: #fff;
}